.todo {
    display: flex;
    flex-direction: row;
    margin-left: 15%;
    margin-right: 15%;
}

.form-update {
    justify-content: center;
}

.todo-update {
    width: 100%;
}

.this-task {
    width: 50%;
}

.this-date {
    width: 30%
}

input {
    width: 70%;
}

p {
    color: blue;
}

form {
    display: flex;
    flex-direction: row;
    width: 70%;
}