<div>
    <div *ngFor="let todo of todos">
        <div class="todo">
            <p class="this-date">{{getDate(todo.date)}}</p>
            <p *ngIf="updateTodo!==todo.id" class="this-task">{{todo.task}}</p>
            <div class="this-task" *ngIf="updateTodo===todo.id">
                <form (ngSubmit)="onSubmitUpdate(task, todo)">
                    <mat-form-field class="todo-update">
                        <input matInput name="task" [(ngModel)]="task" required>
                        <button mat-mini-fab type="submit">
                            <mat-icon fontIcon="check"></mat-icon>
                        </button>
                        <button mat-mini-fab (click)="hideForm()">
                            <mat-icon fontIcon="close_small"></mat-icon>
                        </button>
                    </mat-form-field>
                </form>
            </div>
            <button mat-button (click)="allowUpdate(todo)">
                <mat-icon fontIcon="change_history"></mat-icon>
            </button>
            <button mat-button (click)="onDelete(todo.id)">
                <mat-icon fontIcon="delete"></mat-icon>
            </button>
        </div>
    </div>
</div>